.area1 {
  background-color: #9530E3;
  padding-top: 64px;
  border-bottom:5px solid white ;
  position: relative;
}
.area1 h1 {
  text-align: center;
}


@media (max-width:500px) {
 .area1 {
  padding-top: 32px;
 } 
}